[2018-06-21 17:04] RichardLitt opened #1 "This bit is hard to read"
making changes is published through a widely used, freely
accessible source code distribution system under a license at
least as permissive as this license.

Specifically,

making changes is published through ...

Caught me up a few times before I got it. Maybe reword to make reading easier?

[2018-06-21 17:34] kemitchell commented on #1
Thank you for this feedback!

I shouldn't be surprised to hear this part is rough. I think the trouble started when I rewrote with "ensure" to make clear that if something's already been released, you don't have to release it again.

I'll have a proposed fix for you in a jiffy.

PS: Would you be alright with me adding you to a `THANKS` file here in the repo?

[2018-06-21 17:45] RichardLitt commented on #1
I don't mind at all. :)

[2018-06-21 17:45] #1 closed

[2018-06-27 16:56] makkus opened #9 "Interpreting 'terms at least as permissive' in the Parity Public license"
Related to this: https://github.com/licensezero/licensezero-questions/issues/13
I guess I'm not quite sure how I should interpret "terms as least as permissive" in certain cases.

Say you have a build or project management tool that is Parity licensed, and which touches files of a open-source project (GPL, Apache, etc.). The first question would be whether mere managing of such a project would fal

[2018-06-27 18:16] kemitchell commented on #9
Thank you for opening an issue here!

Color me impressed. Your comments draw straight lines right to the two most vague phrases in Parity:

1. "at least as permissive", in the instructions for how to release source code
2. "analyze, change, or otherwise make using this software", in rule 3

I'll try to keep my comments short. But I also want to give you the whole picture.

In the end, we have to m

[2018-06-28 13:00] makkus commented on #9
Thanks for the in-depth answer, much appreciated!

Yes, I see that now, the way you put it makes sense.

The first time I've read the license text, I read it the way you explained it just now. Once I re-read it some doubts crept in, which is why I created this issue. I guess I wasn't quite sure how to compare the permissions of those common OSI licenses with the Parity ones. I probably should have

[2018-06-28 13:00] #9 closed

[2018-07-13 16:30] bhilburn opened #12 "Question: "latest contribution""
IANAL.

The parity license currently includes this text:

[code]

My question pertains to the last words, there, `as of my latest contribution`. Upon first reading, I was surprised it didn't instead refer to the version of the software received with this license.

If, for example, I make several releases of a project under Parity, and then change the license to something else, it seems to me that

[2018-07-13 16:38] bhilburn opened #13 "Question: Strong-Copyleft Terms"
IANAL.

Per the README, the Parity license is intended to provide a very strong copyleft license. To that end, the current version of the Parity license uses the active word `Release` in requirements clauses, referring of course to the release of source code.

However, the word `release` is never defined in terms of the license. By this, I mean it seems to me that someone could interpret `release`

[2018-07-13 18:31] kemitchell commented on #12
@bhilburn, thanks for this issue!

When talking about rules like this, we should keep in mind that there are unavoidably a few sets of rules we might be talking about at any given time:

<dl>
<dt>Designed Terms</dt><dd>The rules I had in mind, and wanted to implement in the license.</dd>
<dt>Implemented Terms</dt><dd>The rules I actually wrote, within the constraints I chose for the license text.<

[2018-07-13 18:52] bhilburn commented on #12
Thanks for the thorough explanation - much appreciated! Based on your description, I now understand how you are distinguishing between patent licenses granted by a contributor as of their most recent contribution in the code (as it exists in the form received by the licensee), and whatever may have happened in software commit history since then.

That does indeed make sense, and I appreciate its p

[2018-07-13 18:52] #12 closed

[2018-07-13 18:55] kemitchell commented on #13
@bhilburn Again, excellent feedback!

Parity is stronger than AGPL, in that it requires sharing alike in more situations. For example, Parity requires sharing source code of programs built with transpilers, under rule 3.

But in another dimension, Parity is _less_ stringent than AGPL, in that once it does require sharing alike, it does not dictate the exact license terms that need to apply to shar

[2018-07-13 19:06] bhilburn commented on #13
Thanks for the response! So, this is the specific item that gets to the heart of my question, I think (emphasis mine):

Rule 1 reads:

By my reading, that does not require someone who makes downstream changes to release their code licensed in a way that allows anyone else to use them. Example:

1. Alice releases project-foo under Parity
2. Bob adds a new feature to project-foo. Per Rule #1 of the

[2018-07-13 19:06] kemitchell commented on #12
@bhilburn, thanks for closing. Just writing to add that this conversation inspired a blog post on the "different kinds of terms" concept, which I think will be very useful in other conversations, too:

https://blog.licensezero.com/2018/07/13/talking-about-license-rules.html

[2018-07-13 20:19] bhilburn commented on #13
When I read `release source code`, my assumption is that it makes no promise as to the license under which it is delivered. Especially since things like Github ToS codify a default state of "source available but proprietary" unless something is stated otherwise, I think that's the only safe assumption that can be made. My interpretation of the word `share` is the same.

I've never seen someone use

[2018-07-13 20:58] kemitchell commented on #13
@bhilburn, I know that post took a while to write, but I think it's having its intended effect. I'm starting to see through your eyes a bit.

I will send a PR with changes to the licensing instructions language, and mention you. I think that will better address the point of your hypothetical.

[2018-07-13 21:19] kemitchell commented on #13
@bhilburn #14 tries to address your concerns about "additional work".

At the same time, I'm reluctant to move on "permissive". I believe you're absolutely right that in the arc of open software licenses, Parity is at an extreme point across the spectrum from MIT, BSD, and Apache. But the plain meaning of "permissive" is right on point. From Cambridge:

I like that "permissive" in Parity makes cle

[2018-07-14 01:13] bhilburn commented on #13
@kemitchell - I completely understand your perspective regarding use of the word `permissive`, and appreciate your goals in doing so. Thanks for explaining! Allow me to provide one more point on this topic from my perspective:

As an OSS maintainer, one of my goals in using Parity would be to guarantee that if someone extends my project, I get (a) the source code of those changes and (b) the right

[2018-07-14 01:34] kemitchell commented on #13
Not at all. This is a questions repo. It's about the question-and-answer process.

[2018-08-20 07:50] makkus opened #15 "Change from '.. otherwise make using this software.' to '...write...'."
Hi @kemitchell,

I just re-read the Parity license and realised it might not be a good fit for the project I was intending to license with it after all. Then I figured out you made some changes since the last time I read it, from:

to

Would you mind sharing your thinking behind this? The git commit says 'Focus rule 3 on manipulation of source code', which I take to mean that Parity should only ap

[2018-08-21 09:36] makkus commented on #15
Thanks @kemitchell, that makes sense. The project I'm thinking about is a more or less complete rewrite of this: https://docs.freckles.io/en/latest/overview.html

I haven't gotten around to figure out a good way to explain what it does in a sentence or two, but in a nutshell it helps you set up machines (virtual or physical) in a way so it can run your project/service. Basically configuration mana

[2018-08-21 10:34] makkus commented on #15
Another quick thought, maybe it helps to look at it from the point of the outcome: if the outcome is software, then the relevant parts involved in building/making it (that can have a license attached to it -- I don't think configuration files can/should be covered) should be licensed using a free license.

I'm not suggesting to change the wording that radically. Just as an exercise, looking at it

[2018-08-29 23:52] kemitchell commented on #15
@makkus I think you're right. Focusing on software output is exactly what I've wanted to do. I don't mean to play coy lawyer, but the question then is "what does software mean".

"Making software" is very broad. "Making source code" leaves out a bunch of concrete things that might be "software", like configuration, documentation, or even design documents.

I think the current language is too narro

[2018-09-06 17:28] kemitchell commented on #13
@bhilburn, FYI, the most recent version of Parity now speaks in terms of "contributing" source code, rather than merely releasing it. I think that should help address some of your concern about misreadings.

[2018-09-06 17:28] #13 closed

[2018-09-23 11:50] bmintz opened #18 "Not all source code is software"
The license mentions "this software" and "source code", implying that the covered work must be software. However, some juries do not interpret e.g. firmware or Hardware Description Language code to be software. Ideally this license should be usable for all sorts of source code.

[2018-09-23 12:28] kemitchell commented on #18
@bmintz if you apply Parity to firmware or HDL with an unambiguous licensing statement, like a source comment that says “Copyright Ben Mintz. Licensed under the terms of The Parity Public License x.y.z”, I suspect it would be clear what you are licensing, and that you consider it software.

Are you familiar with any firmware or HDL under BSD or MIT licenses, which also say “software”?

I imagine t

[2018-10-02 00:43] kemitchell opened #19 "Should parity require preserving license metadata?"
1. Metadata for coding the Parity license.
2. Metadata for coding the availability of other licenses.

[2018-11-06 21:06] MoritzMaxeiner opened #21 "Question: Spread when used for interpreters / compilers"
IANAL.

Clause 3. of the license currently states
[code]

My question is how this clause is to be interpreted w.r.t. interpreters/compilers.
As I understand it, were I to write an interpreter (Int) for some programming language (PL) and release it under the current version of the Parity license, this would mean anyone writing a script and having that script be interpreted by Int (i.e. have it `run

[2018-11-08 01:16] kemitchell commented on #21
The _intent_ of the license is to require contribution of source code for programs in situations like the interpreter and compiler hypotheticals you describe.

I'd be very interested in _your_ opinion of whether rule 3 expresses that intent.

Whether a court of law would enforce that intent, and in what way, are indeed legal questions.

[2018-11-08 09:33] makkus opened #22 "Versioned permanent urls"
Hi there,

quick request: would it be possible to provide permalinks for each version of the Parity (and probably also the others) license? Something like:

https://licensezero.com/licenses/parity/3.0.0

Or does that already exist? Would be cool to be able to put that into suchly licensed source files, given that the license text is still likely to change a bit in the medium-term future, esp. comp

[2018-11-08 13:46] MoritzMaxeiner commented on #21
Thank you for clarifying (both what the intention of the license is, and the distinction when it would become a legal question).

In my opinion rule 3 expresses the following (in short: yes):
- Calling[1] a Parity licensed interpreter on some source code S triggers `run with this software` reaching all of S[2]
- Calling[1] a Parity licensed compiler on some source code S triggers `develop with thi

[2018-11-08 13:52] MoritzMaxeiner opened #23 "Question: Under which License is the Parity license itself"
Continuing my OT question from https://github.com/licensezero/parity-public-license/issues/21:

Is the Parity License itself available under some license?

[2018-11-08 17:52] #22 closed

[2018-11-08 17:57] kemitchell commented on #21
Thank you very much for this detailed analysis!

The details of how code relates, how it's connected, when it's run or copied or changed, and how, will always be complex, and will always change.  The approach of Parity's plain language is to avoid needless complexity and hassles, by stating its requirements broadly, in such a way that it doesn't matter _how_ we use Parity code to develop and work

[2018-11-08 17:57] #21 closed

[2018-11-08 17:58] kemitchell commented on #23
Another good question.

Neither Parity nor any of its variants---Prosperity and Charity under License Zero, a few others, like Posterity, that I've written as experiments---are currently available under any public license.  That being said, I'm _very_ interested in improvements and variations, and have helped a number of folks come up with their own.

If you'd like to propose changes to any of tho

[2018-11-08 18:57] MoritzMaxeiner commented on #23
Thank you once more for the clarification.

I'll definitely send PRs if I think it'd beneficial to those licenses, but right now I'm still deciding on what triggers[1] I truly want for a compiler project of mine. Once I've nailed those down I think I'll propose something with slightly fewer triggers than Parity.

[1] I really appreciated your "How to Speak Copyleft" blog post on this topic.

[2018-11-08 18:57] #23 closed

[2018-11-09 16:53] MoritzMaxeiner commented on #23
@kemitchell I've made a variant of the Changes Back Public License which (I think) covers all my needs, if you want to have a look: https://github.com/MoritzMaxeiner/contribute-public-license

[2018-11-18 15:25] compleatang opened #25 "Question on pronoun use in disclaimer"
Two related questions on the [final paragraph](https://github.com/licensezero/parity-public-license/blob/v4.0.0/LICENSE.mustache#L43-L45) of v4.0.0. Perhaps my readings are off and I'm misunderstanding some things.

**Question 1**: In the disclaimer / as is warranty rep para (final para) Parity currently uses an `I` pronoun which reads awkwardly for a corporate licensee (such as our company). The

[2018-11-18 19:43] kemitchell commented on #25
For reference, v4.0.0 uses the first person twice:

[2018-11-18 19:54] kemitchell commented on #25
I am obviously not the only reader that counts, but I have a bit of trouble reading the warranty disclaimer and damages exclusion to benefit the author of the _license_, as opposed to the one licensing the _software_.

First because the drafter of the license text is never mentioned. I think it would be quite a stretch to read them in, whether as part of an IP license, or as a part or beneficiary

[2018-11-18 20:03] kemitchell commented on #25
You're right that first person singular reads awkwardly for entity licensors. In the end, I chose first and second person over "Licensor" or "Contributor" and "Licensee" or "User" for readability. I expect that use by individual developers will be the "hot path".

I think "we" might read better, without offering any additional clarity. The singular "I" at least tracks the legal fiction or entity l

[2018-11-18 20:10] kemitchell commented on #25
Thinking aloud: The easy patch here might a clarification for the specific case where "I" refers to an entity.

[2018-11-18 20:17] #18 closed

[2018-11-19 11:21] compleatang commented on #25
I thought you were off this week :-) !

Agree it is probably a stretch to claim that benefit would inure to the license drafter but I was pondering that reading after looking at the changes when upgrading to v4.0.0. On my light of the day reading, I think you're 100% correct that it would be a very big stretch to get to that point.

I had missed that one of the design principles of Parity was the

[2018-11-19 11:21] #25 closed

[2018-11-19 15:07] kemitchell commented on #25
I’m still _very_ interested in clarifying who “I” is, especially for entity licensors.

[2018-11-19 22:10] compleatang commented on #25
Could it be a mustache if then else statement utilizing I or we depending on whether individual or entity licensee? Or are you thinking an additional definition type sentence?

[2018-11-19 23:12] kemitchell commented on #25
Here it is with first person _plural_.

https://github.com/licensezero/parity-public-license/blob/first-person-plural/LICENSE.mustache

Note that "my" also changes to "our".

This will read awkwardly for single licensors.

Still thinking about a way to make this generic without legal style.

[2018-11-21 05:12] kemitchell commented on #25
@compleatang on further thought and reflection here, I was wrong.

I _do_ believe that the majority of Parity users, by number of licenses granted, will be individual developers. But the social, dare I say political purpose of Parity cuts straight across natural and legal personhood.  Parity ought to work both for people and for people working through corporations, equally well, just as it works e

[2018-11-21 11:17] compleatang commented on #25
I've looked and the proposed v5.0.0 in #26 reads much more clearer for our entity licensor and also I like the other bits of cleanup in that iteration. ++ from me.

[2018-11-25 20:49] makkus opened #28 "Is there missing something?"
Hi there,

this might very well be just my brain knotting up, but when reading over:

I feel there is a slight gap somewhere. I have a hard time explaining myself though.

Which part does the 'on terms as permissive as this license accordingly' belong to? To 'not already licensed', or 'license contributions'?

Does it tell me to 'license contributions':

- which are not licensed in terms as permis

[2018-11-26 16:21] kemitchell commented on #28
[code]

"Accordingly" is tricky.  Can we make it more clear?

The current language may be clear to native English speakers. But I don't want anything in Parity to require native English.  It should make sense to educated non-native readers of English, too.

[2018-11-26 17:23] makkus commented on #28
Ha, writing legal text with Python indentation is surprisingly helpful, this makes it much easier to parse for me.

So, the 'overall' instruction is to 'license contributions accordingly, right? And 'accordingly' refers to the 'at-least-as-permissive'-term. Which, in this case does double-duty because it 1) specifies when it is necessary, and 2) also specifies how exactly to do it (because that is

[2018-12-05 07:31] jeremy-w commented on #28
Native English speaker here. I (mis)read it the same way. I found myself wondering, “OK, contributions have to be licensed with a Parity-equivalent (on terms yadda yadda), but only if they weren’t already licensed to the public. **Already as of when?** What if they were already licensed using a more restrictive license before my Parity contribution? Now what do I do with new work - does it stay al

[2018-12-05 07:38] jeremy-w opened #29 "Whose preferred form for making changes?"
Consider a Parity-licensed literate program. That’s pretty niche. But it would be the primary form the author is working in - clearly their current preference.

Suppose I think that’s a waste of time. I tangle their source (jargon for “ditch the plain language text and stitch all the code together in linear order”) and link it in and Parity license my cool new CLI tool.

I then tweak the tangled s

[2018-12-05 07:50] jeremy-w opened #30 "“Larger application” and system boundaries"
I come from a Mac/iOS background, where “app” is basically just an in-group term for what a Windows user would call a “program”. For me, this isn’t the “the product of would-be taxonomists, without effect on common usage” - it is common usage, as embedded in popular terms like Apple’s “App Store” and the “app economy”.

Elaboration of rule 2 at https://blog.licensezero.com/2018/11/24/parity-5.0.0.

[2018-12-05 08:02] jeremy-w opened #31 "Rule 3, dev tools, and reverse engineering"
https://blog.licensezero.com/2018/11/24/parity-5.0.0.html#rule-3 talks about licensing software I debug using a Parity-licensed debugger.

It’s pretty common to aim debuggers at source you don’t have (understanding what’s happening in closed-source code) or that isn’t necessarily source you can relicense (third-party published library code, maybe under that Artistic License with more restrictive t

[2018-12-05 08:07] jeremy-w opened #32 "Rule 5: Dangling modifier?"
I can’t work out what the “accusing the software…” phrase is modifying in:

My best guess is that it is intended like:

But guessing makes me anxious. 😬

[2018-12-05 08:15] jeremy-w opened #33 "Applying the license in common packaging system"
Speaking of license metadata (#19), if I’m filling out package.json for an npm package, it wants an SPDX identifier IIRC. If I want to use parity, not knowing what to do as part of a package ecosystem is a point of friction that may make me skip out right at the end of the adoption funnel. (The unfortunate thing: there are entirely too many package ecosystems.)

This is kinda far afield for the li

[2018-12-05 19:45] kemitchell commented on #28
@jeremy-w Could you rewrite the sentence more clearly? You kind of hinted at that with "but on if they weren't already licensed...".

[2018-12-05 19:49] kemitchell commented on #29
Parity largely follows GPLv2 section 1:

GPLv3 section 3 goes a little bit further, hinting that the preferred form is the input to any project-specific build pipelines, which also have to be shared, but only for "executable work":

Overall, I'm not sure how much benefit fleshing out "preferred form" would yield. Its main function is to prevent "contributing" files that are arguably "source code",

[2018-12-05 20:00] kemitchell commented on #31
Interesting. There's a tension here.

If you have a choice in whether the software you debug is open or closed, Parity wants it to be open. If you're working for someone who has the choice, Parity wants them to make it open.

If you have absolutely no way of making the software open---perhaps you're using a RE tool to create an open version of closed software---Parity wants to allow you to use tha

[2018-12-05 20:03] kemitchell commented on #32
"accusing this software" modified "legal claim".

[2018-12-05 20:04] jeremy-w commented on #29
Agreed - this is edge-casey, and it's probably not worth trying to settle in the license text if it means adding a bunch of text. It would fall to licensor and licensee to sort out that disagreement if they cared to in this edge case.

It's all too easy for a programmer to forget that, unlike computers, the legal system can actually think for itself in the face of squishy specifications.

[2018-12-05 20:04] #29 closed

[2018-12-05 20:05] kemitchell commented on #33
For npm in particular, the correct answer is something like

[code]

like

[code]

https://docs.npmjs.com/files/package.json#license

[2018-12-05 20:05] jeremy-w commented on #30
That reads a lot better to me!

[2018-12-05 20:08] jeremy-w commented on #31
Maybe some sort of caveat around affecting only projects you can license, similar to that around patent grants being limited by the contributor's ability to act as grantor?

[2018-12-05 20:11] jeremy-w commented on #32
I think I'd naturally read it that way if the "accusing…larger application" and "against anyone…alone" clause were swapped:

Parentheses would make it even more readable to me:

[2018-12-05 20:13] kemitchell commented on #31
We'd have to go further than that. For example: You're reversing a program your client has the right to license, but you don't.

[2018-12-05 20:18] jeremy-w commented on #31
Does that situation not arise around patent grants, too?

[2018-12-06 08:05] kemitchell commented on #30
Is it any less vague?

[2018-12-06 08:07] kemitchell commented on #31
The who-can-license question for patents looks much like the who-can-license question for copyrights.

[2018-12-06 08:47] makkus commented on #30
Is the 'larger' needed at all?

[2018-12-06 08:48] makkus commented on #28
I like that.

[2018-12-06 12:50] jeremy-w commented on #30
I bet “larger” is not needed. In fact, I think striking “larger” and adding “entire” for what to contribute may express the desired outcome more clearly:

If you run or combine this software with other software as part of any software project, contribute that entire project.
Now I’m curious if we need to restrict it to “software project”, too. Should it just be “whole project, in the open, now”? (

[2018-12-06 13:32] jeremy-w commented on #30
I bet “larger” is not needed. In fact, I think striking “larger” and adding “entire” for what to contribute may express the desired outcome more clearly:

Now I’m curious if we need to restrict it to “software project”, too. Should it just be “whole project, in the open, now”? (Is my roadmap / Gantt chart / issue tracker content part of the project but not part of the software project? Not part of

[2018-12-07 20:09] kemitchell commented on #31
Perhaps an exemption to Rule 3 for reverse engineering closed programs to make open alternatives?

[2018-12-07 20:16] kemitchell commented on #30
@makkus @jeremy-w You're clearly right about "larger". That's just a holdover from "larger program", which came from the way GPL and a few other vintage licenses address similar issues.

I think you're right about _entire_, too. @jeremy-w, would you prefer to send a PR for that change, so your name's on the commit? Credit where due.

[2018-12-07 20:19] kemitchell commented on #30
Back on the boundary drawing problem, I think it's safe to say we're asking the right question. What should open source copyleft be able to require back? In my own writing, I call this copyleft "reach". What other work must licensees share back?

My current thinking is that Parity obviously ought to reach source code.  Some existing licenses, like GPLv3, have taken pain to make sure they include s

[2018-12-08 12:59] jeremy-w commented on #30
From an engineering standpoint, two angles come to mind for drawing that boundary:

- Deliverable: Contribute the entire project that the Parity code ships with.
- Staffing / Code Ownership: Contribute the entire portion of the project you could propose using the Parity code with.

With the Deliverable approach, different deployment and development approaches would lead to different boundaries in

[2018-12-27 19:14] pierrebeaucamp opened #39 "Possibility of future OSI certification"
This is more of a question and not an issue as I'm aware of your past attempts to get L0-R certified by the OSI. I was just wondering if you're planning to eventually pick up that effort again or not. If I recall correctly, one of the reasons you didn't pursue the certification at that time was that the license was changing quite often and that the OSI doesn't have a clear mechanism to review alte

[2018-12-28 02:17] kemitchell commented on #39
@pierrebeaucamp, first of all, I'm glad you found the license useful! I do a little bit of scouting for adopting projects, but for the most part, I hear about projects using Parity when their maintainers tell me about them. Good news!

Thanks also for your question, and for bringing my attention to GitLab's and Atlassian's policy changes. I'm particularly interested in GitLab's requirement: not ju

[2019-01-10 22:19] kemitchell opened #42 "Big Thanks to Jeremy Sherman"
@jeremy-w, I hope you don't me creating an issue just to thank and recognize you. From my point of view, working on this license with you has been one of the most rewarding work experiences of the past year. The License Zero Reciprocal Public License felt like a beating. Parity's a privilege!

I'm really starting to get the feeling that this license isn't "mine" anymore, but "ours', in a broader,

[2019-01-10 22:21] kemitchell opened #43 "Revisit Rule 5 for Clarification"
https://github.com/licensezero/parity-public-license/pull/41#commitcomment-31902921

Current text:

[2019-01-10 23:03] makkus commented on #42
I totally agree, except that I think the license was already pretty great before anybody else chipped in. So please keep a big chunk of the credit to yourself @kemitchell !
Reading peoples thoughtful comments about the meaning and placement of just one or two words is great. Honestly, this is my favourite 'issue-stream' I'm subscribed to. I almost wish for more issues to be raised, because it's al

[2019-01-10 23:13] kemitchell commented on #42
@makkus, you better watch yourself. I might just open a sappy issue about you, too!

[2019-01-14 18:37] jeremy-w commented on #42
Aww shucks. Thanks! It's been amazing to play a role in the careful thought put into this.

[2019-01-15 00:54] #42 closed

[2019-01-21 21:20] jeremy-w commented on #43
I think this is closed by df69499f793d3a0210fec8d60334d24b6b2300a4 ?

[2019-01-21 22:14] kemitchell commented on #43
@jeremy-w Yessir!

[2019-01-21 22:14] #43 closed

[2019-05-04 02:53] mswilson opened #49 "GitHub example may now be confusing"
Regarding https://github.com/licensezero/parity-public-license/blob/master/README.md at cs dab0ad631c1916f835eb41790ee04f18d672a8b7

As of [2019-01-07]( https://github.blog/2019-01-07-new-year-new-github/), GitHub Free includes private repositories. But even before that, GitHub was free for public repositories, but those repositories do not have to be open source. Example: https://help.github.com/

[2019-05-04 03:16] kemitchell commented on #49
It's Friday!

[2019-05-04 03:16] #49 closed

[2019-07-04 19:12] kori opened #50 "An user suggested wording changes to Parity."
Hey! I adopted the Parity Public License in my project, and an user opened an issue suggesting some word changes. As I have not drafted the license, and as I am not a lawyer, I'd like to forward the issue here, to ask for help and to see what considerations you might have.

The issue is: https://github.com/kori/Xlambda/issues/5

The issue is reproduced below:

[2019-07-04 20:01] kemitchell commented on #50
None of these criticisms make much sense to me. The author seems to believe that in order to be clear, a license has to read like MIT or BSD, when in fact those old terms are chock full of known problems.

@kori, you should do your own homework, and make your own judgment call, but this seems awfully like FUD from someone who'd rather you adopt a fundamentally different license. Plenty of individu

[2019-07-04 20:02] kemitchell commented on #50
FWIW, if the author of the comments would like to open issues here, I'll be happy to discuss.

[2019-07-04 20:07] kori commented on #50
Alright Kyle, thanks a lot!

I don't seek to move from Parity, and the terms it provides are very desireable to me.

Do you have any suggestions on where I can read more about this? Would just the licensezero website suffice?

[2019-07-04 21:15] Elronnd commented on #50
Can you address the problems individually?  I do support the development of new licenses, but I think that, in case of doubt, licenses where there exists a precedent for what they mean should be used.  And I don't think that this is the right license to replace them since I, a non-lawyer, was immediately able to spot certain problems.  Am 100% open to being corrected, though.

[2019-07-04 21:36] makkus commented on #50
To be perfectly honest, I don't really understand your criticisms either. Mostly you say this and this should be different, but don't really offer an explanation as to why. And if you offer an explanation, I fail to see the relevance. One example:

Why is that? To me, there is no difference in meaning, and the original is more concise and reads better.

Btw, the author of the license is an actual

[2019-07-04 21:48] kemitchell commented on #50
There's nothing exclusive about the phrasing of the first paragraph. Courts do not read one paragraph and stop. They will interpret specific words in the context of the license as a whole.

Your BSD-like "without restriction" proposal misses the point of granting explicit, well scoped copyright and patent permission, which is perhaps the best-known and most-important flaw of BSD terms. Lawyers are

[2019-07-04 23:55] Elronnd commented on #50
Ok.

Fair enough.  Mostly I object to 'that would otherwise infringe [...]', because it's white-listing rather than black-listing.  That is, there might be certain things, that people would want to do, which wouldn't infringe on copyright or patent rights, but which could still infringe on other rights; the ability for people to do this was never explicitly granted.  So I would say, rather than 'y

[2019-07-05 03:54] kemitchell commented on #50
If those things are copyright "fair use", you don't need a license to do them. If those things might violate other kinds of rights, like trademarks or publicity rights, Parity doesn't mean to license them. Neither do other open software licenses.

Even permissive standards, like Apache 2.0, don't give completely blank checks. You can't infringe trademarks with an Apache-licensed program. You can't

[2019-07-14 15:51] #50 closed

[2019-08-05 04:48] mlinksva commented on #28
I see that "at least" was removed in c74dadff395090d35cfdfb286c59721526039374 though in the preceding discussion it seems that's what is intended https://github.com/licensezero/parity-public-license/issues/13#issuecomment-404929923

I see that @jeremy-w's proposed edit brings it back. I think the edit more clear than the current language, for including "at least", in addition to the question raise

[2019-08-05 05:51] kemitchell commented on #28
I like the clarity of @jeremy-w's proposal, but am looking for a way to keep the license speaking in simple imperatives. When literally every other term of the license says "do this", one rule that says "this must be so" stands out, and could lead to the conclusion that something different was intended.

[2019-08-05 05:52] kemitchell commented on #28
Taking a stab:

[2019-08-05 18:35] mlinksva commented on #28
I had not noticed the consistent use of simple imperatives, but now that you have pointed it out, makes sense. I like your stab, but still think "**at least** as permissive" makes it clearer.

[2019-08-27 17:59] christianbundy opened #52 "Rule 3 and revisions"
I might be taking this too literally, but it seems to me that this might require publishing all revisions. Am I reading this correctly?

For example, assume a linter licensed under the Parity license. If this linter runs on source code, I'd imagine that the Parity license would require that I contribute *that* software that my linter ran on, not some derivative source code that I'm ready to releas

[2019-08-29 21:46] kemitchell commented on #52
This is a great question. It deserves a good answer. I’ll reply as soon as I can get around to it.

[2019-08-29 23:39] kemitchell commented on #52
@christianbundy you've homed in on one of the key boundary-drawing problems in any copyleft license that wants to cover both distributed software, like installed applications, and software provided as a service, like web apps.

The original software copyleft licenses required sharing source code and license permission _only_ when you share copies of software with others. If you never distributed y

[2019-08-29 23:42] kemitchell commented on #52
@christianbundy somewhat after Parity, I began work on a slightly different license, the API Copyleft License, that includes an exception for prototypes. Here are the relevant bits of [the draft on `master`](https://github.com/kemitchell/api-copyleft-license/blob/76f94641b67cc9b4926e270489f932c9a0694332/license.md#prototypes):

[2019-08-31 18:41] christianbundy commented on #52
Thanks for the thoughtful (and quick!) response.

I think the prototype exception makes a lot of sense, and I'm having a hard time coming up with any loopholes that it might open. Do you think that something like the prototype exception would make sense for the Parity license? I'm not sure whether my "you have to release every revision" read of the current license is correct, but if so (and if you

[2019-08-31 22:48] kemitchell commented on #52
I would read Parity 6 to require sharing everything immediately.

The loopholes under a rule like API Copyleft's Prototype section come right from the terms of that rule: "prototype", "share", "use to provide a service", and "anyone else". And of course the fourteen-day exception makes room for arguments about intermittent and one-time uses. For example, if the licensed code is a static analyzer a

[2019-08-31 23:15] larsgw opened #53 "Clarifying Rule 5"
Similarly to #32, when reading this license it was unclear to me whether

applied to "anyone" or "legal claim". In the first case, it reads

This didn't really make sense to me, but I only figured out what was meant (the second case) when someone pointed me to the explanation of version 5. Maybe a comma would be warranted?

Also, does this rule allow legal claims against *entities* or is that cove

[2019-09-03 05:11] kemitchell commented on #53
I would read "anyone" to cover legal entities or individuals.

[code]
If we drop the dependent-clause clarifications:

[2019-09-03 20:58] christianbundy commented on #52
I suppose my concern is that this sounds like a license violation:

[code]

I'd be very hesitant to use any tool that made accidental copyright infringement so easy, so it seems like Parity-licensed tools would need to immediately upload anything that they "develop, deploy, monitor, or run" to avoid copyright infringement. I'd imagine that a Parity-licensed text editor would have to contribute sof

[2019-09-03 21:07] kemitchell commented on #52
@christianbundy on the off chance you haven't run into yet, have you considered how the first three numbered rules interact with this later part of the license?

[2019-09-03 21:56] christianbundy commented on #52
Yeah, which I'm (incorrectly?) reading as:

If my "you must contribute every revision" interpretation is correct, then this means that losing any revision of software touched by Parity-licensed software means losing access to the Parity-licensed software altogether. My understanding is that running `parity-vim foo.js && rm foo.js` legally gives me two options:

- remember exactly what the software

[2019-09-06 07:45] danielcompton commented on #9
FWIW, the only part of the license I found unclear was this, and which licenses qualified.

When I first read it, for some reason I thought that you had to release your code as Parity or a license with less permissions. I think it’s because Parity is not a very permissive license, so that sentence was hard to parse.  I’m not sure if there is a different way to say that which makes the intent clear

[2019-09-09 00:22] kemitchell commented on #9
@danielcompton your confusion is completely justified. And here comes the part where I sheepishly admit we saw it coming. We've definitely discussed the fact that Parity is "permissive" by absolutely standards, but not by currently prevailing open source standards.

We've just kicked off a project to restructure in #54. I was tempted to do some more clarification about which licenses count there s

[2019-09-12 19:47] #52 closed, assigned to nobody

[2019-09-12 23:23] christianbundy opened #57 "Are there any gaps in "develop, deploy, monitor, or run"?"
My intuition is that the words are meant to cover the entire software development (or maybe "devops") lifecycle. If that's the case, it might be nice to compare against something like GitLab's ["DevOps lifecycle"](https://about.gitlab.com/stages-devops-lifecycle/) and ensure there aren't any gaps. If any of the below software was licensed under Parity, would the software that it interacts with get

[2019-09-13 18:22] christianbundy commented on #57
I'd like to say "contribute all software that this software interacts with", but that's not quite right.

I've been thinking about this in the context of a dependency graph, where you need to contribute everything *downstream* of the Parity-licensed software, without the obligation to contribute anything *upstream*. Using the `parity-vim` example, you'd need to contribute any software you write bu

[2019-09-13 18:30] kemitchell commented on #57
@christianbundy, I’m always leery of “upstream” and “downstream”, since I find so many people understand those terms differently.  But your web browser example shows we’re on the same page.

The other examples in that vein that are part of my mental “test suite” for the license are a text editor and a language interpreter. Whether someone should want to use Parity for those kinds of projects is a

[2019-09-14 00:20] bradrydzewski opened #58 "CopyLeft and security discosures"
one interesting thing that came up with CAL was concern with requiring people to publish code when patching security issues. I was wondering if you had any thoughts regarding this section that landed in CAL beta2 and whether or not it might be relevant to Parity?

[2019-09-14 16:11] kemitchell commented on #58
@bradrydzewski would folks coordinating disclosure need to hold back patches more than thirty days?

[2019-09-14 16:17] bradrydzewski commented on #58
I personally think 30 days is a reasonable time limit and many security researchers will publish their findings after 30 days regardless.

Also relevant poll from Twitter:
https://twitter.com/VanL/status/1164717052994580480

[2019-09-14 16:31] kemitchell commented on #58
My gut feeling is that 30 days is _both_ long enough to coordinate a disclosure, _and_ long enough to market a zero-day.

[2019-09-14 23:55] bradrydzewski opened #59 "the "dissident test" and "desert island" test"
There was a conversation on Twitter about Parity and the "desert island test" and "dissident test" were referenced. I find the latter interesting given some of the things going on in the world today (protestors in HK using open source software to communicate, etc). I was wondering your thoughts on this?

I hesitate to bring up specifics, but I was genuinely curious about the term "best efforts" wh

[2019-09-15 04:17] kemitchell commented on #59
Ah, the Debian corner cases.

But before we go there, where is "best efforts" coming from? One of the corner cases? An idea about how to change Parity to avoid it?

"Best Efforts" is one of those legal crutches, like "reasonable", that has taken on a patina of precision by repeated legal use, rather than offering any actual precision. There is lots of litigation about "best efforts", and also "rea

[2019-09-15 07:18] JanZerebecki opened #60 "make it possible to comply on common computer hardware"
Common computer hardware contains firmware that you do not have the source to. Harder to avoid are e.g. disks (including sd-cards and usb-sticks) and USB cables.

Downloading thusly licensed software on such a computer reads to me as combining it with the firmware (and also all other software that is on the computer).

[2019-09-15 15:34] bradrydzewski commented on #59
yes, good question, I will walk you through my train of thought 🙂

1. the comment on twitter got me thinking about the dissident test as it related to Parity
2. the corporation I worked for years ago used "best efforts" in their contracts sometimes
3. this got me wondering if Parity could use similar language to pass the dissident test. what if it required making a "best effort" to contribute? It

[2019-09-16 00:13] kemitchell commented on #59
The Debian Free Software Guidelines and Open Source Definition [remain largely the same](https://writing.kemitchell.com/2017/11/12/DFSG-versus-OSD.html). Neither gives good structure for analyzing a license, for nearly any purpose, other than simply creating as many opportunities to free associate objections as possible. But if one must treat them as holy texts---[ill-advised](https://writing.kemi

[2019-09-16 00:14] kemitchell commented on #60
@JanZerebecki do USB cables have firmware?

[2019-09-16 01:05] bradrydzewski commented on #59
I agree. I was less interested in her comments regarding criteria 9 and rule 3.

I was more interested in the dissident test because it came up, along with security disclosures, as arguments against requiring publishing source in CAL discussions and again on twitter. I do not have much understanding regarding how contributing code would effect dissidents, but thought it was worth getting your opin

[2019-09-16 01:05] #59 closed

[2019-09-16 01:10] kemitchell commented on #59
The problem with the dissident test is that's not a viable corner case. License terms are enforced, in the end, via state power. If the state is your enemy, you're not going to fret copyright claims, and even if the state chooses to use copyright claims as cover for your persecution, that's just window dressing.

[2019-09-16 01:11] kemitchell commented on #59
The problem with the dissident test is that's not a viable corner case. License terms are enforced, in the end, via state power. If the state is your enemy, you're not going to fret copyright claims, and even if the state chooses to use copyright claims as cover for your persecution, that's just window dressing.

[2019-09-16 01:11] kemitchell commented on #59
The problem with the dissident test is that's not a viable corner case. License terms are enforced, in the end, via state power. If the state is your enemy, you're not going to fret copyright claims, and even if the state chooses to use copyright claims as cover for your persecution, that's just window dressing.

[2019-09-16 01:51] JanZerebecki commented on #60
Every USB-C cable that supports any of more than 3A power or USB 3.1 Gen1 or Gen2 or alternate modes (DisplayPort, etc.) needs a chip to announce this support. This is called Electronically Marked Cable Assembly. These chips usually have firmware that can be updated.

[2019-09-16 04:52] kemitchell commented on #60
@JanZerebecki thanks! I did not know about chips in USB-C cables.

[2019-09-16 05:28] kemitchell commented on #60
@JanZerebecki, returning to your question about the license:

I wouldn't read "combine" in the way you do, to cover, say, the firmware on a USB stick that happened to be plugged into a laptop running a Parity-licensed linter. Nor would I read it to require contributing the Linux operating system of that laptop under terms at least as permissive as Parity. But Parity isn't just supposed to be easie

[2019-09-16 15:56] bradrydzewski commented on #57
we started to have a similar discussion in https://github.com/licensezero/temerity/pull/1

[2019-09-22 22:48] JanZerebecki commented on #60
I hadn't yet heard of the "System Libraries"-exception being used as a loophole. Do you have examples?

How does this reading not create the same loopholes as being more specific, e.g. with the System Libraries exception?

Is the intent to cover deployment scripts used for a work under Parity? (One of the SaaS loopholes.)
If it is, what part of Parity do you read as doing that?

As this part of th

[2019-09-23 18:32] kemitchell commented on #60
Prior versions of parity included “larger program” and “larger application” in rule 2. We found those terms unintentionally limiting.

[2019-09-25 19:59] makkus opened #62 "List format for prototype conditions?"
Ok, this might just be me, and you might have a very good reason to not do that, but when reading this I just thought it'd be easier to parse (for me at least) if it was formatted as list, something like:

P.S. sorry, that was meant to go into the 'Simplify Copyleft' pull request thread (but not sure if that'd be the right place either - so I'm leaving it here for now)

[2019-09-25 20:10] makkus commented on #62
Actually, upon further thinking, I think it was just the 'sharing...' and 'using...' in the 2nd and 3rd conditions that threw me. I think there are 'it'-s missing. Maybe the 'do not end up' does not need to refer to those two conditions, and it could just read:

| You need not contribute prototype changes, additions, or other software that you do not end up using for more than thirty calendar days

[2019-09-25 23:12] kemitchell commented on #62
It's a list. Let's make it a list!

[2019-09-25 23:17] #62 closed

[2019-09-29 05:00] Avi-D-coder opened #64 "Avoiding CLAs with Parallel Licensing?"
In the [guide](https://guide.licensezero.com/#parallel-licensing) it states:

This brings up several questions:
1. Can the permissive license be in a separate file, so long as the note is at prepended to the contributor license and perhaps the file name?
2. Is a CLA bot or form needed when using parallel licensing?

[2019-09-29 05:07] kemitchell commented on #64
@Avi-D-coder, thanks for your interest.

There aren't any hard rules about how to get licenses from contributors, or how to document those licenses. The guide mentions `LICENSE` files because I think that's the most common convention for expressing license terms.

[2019-10-01 22:31] Avi-D-coder commented on #64
If a project is only under parity, I assume a CLA is not needed, so long as re-licensing is not a concern?

[2019-10-01 23:37] kemitchell commented on #64
@Avi-D-coder if your intention is to make sure that _anyone_ who uses the code follows Parity's rules, all contributors can and should contribute under Parity terms.

However, it's still important to get a record showing that each contributor chooses Parity for their work. You may also want to use CLAs to ensure that someone can relicense the project as a whole, perhaps to a future Parity 7 or ano

[2019-10-10 01:32] #64 closed

[2019-10-14 17:39] kemitchell commented on #53
Closing, since the ongoing rewrite for Parity 7 replaces the language of original concern here.

[2019-10-14 17:39] #53 closed

[2019-10-21 00:45] bradrydzewski commented on #58
I was thinking about this a bit more, and I feel like a project's SECURITY.md file can specify disclosure guidelines that waive the copyleft requirement for a specified period of time. Not sure this needs to be codified directly in the LICENSE. I am going to close this.

[2019-10-21 00:45] #58 closed

[2019-10-21 01:58] kemitchell commented on #57
@christianbundy closing this, but I want to make sure I point out that your feedback here was very influential on the forthcoming version 7 of Parity. If you'd like a look:

https://paritylicense.com/versions/7.0.0-pre.3.html#copyleft

[2019-10-21 01:58] #57 closed

[2019-10-21 02:14] kemitchell commented on #60
@JanZerebecki thanks again for this feedback. As you'll see on `master`, we've substantially rewritten the copyleft rule, without the word "combine".

If you think your point is still a concern under the new language, please feel free to respond here again, or to open a new issue!

[2019-10-21 02:14] #60 closed

[2019-10-21 02:14] #19 closed

[2019-10-21 02:16] kemitchell commented on #28
This language has been substantially revisited for Parity 7. As of 77c6bfa5f13f697a819ca65d5b50da85f012d8e9, `master` reads:

[2019-10-21 02:16] #28 closed

[2019-10-21 22:13] makkus commented on #57
Not sure whether to put my thoughts in here, or open a new issue. I thought about 'develop, operate and analyze' again, and I'm now also seeing an issue related to upstream/downstream, with a slightly different angle.

The thing is: as long as a user runs Parity-licenced code (app A) which in turn actively uses (in some way) other code, it's probably fairly uncontroversial to say one 'operates' th

[2019-10-21 23:37] kemitchell commented on #57
@makkus excellent comments.

[2019-10-21 23:45] kemitchell opened #67 "Is "operate" too specific?"
Pulling [@makkus' comment](https://github.com/licensezero/parity-public-license/issues/57#issuecomment-544730196) out into its own issue.

To try and paraphrase: The verb "operate" implies a bit more than just "run".

If program A invokes program B, it's pretty easy to say that an end-user uses A to operate B. But it may not seem right to say that the end-user also uses B to operate A.

@makkus, I

[2019-10-21 23:52] kemitchell commented on #67
@makkus, still very interested in your example, if you have one. But two thoughts occurred to me.

First, I think the answer to one or more specific examples might be in "develop". Whether a users uses A to "operate" B or not, if the user uses A to "develop" B, they still have to contribute B.

Second, the fix here, if indeed a fix is needed, might be to continue using "operate", but make sure it

[2019-10-22 00:11] jeremy-w opened #68 "Phrasing: “more permission as” sounds odd"
I see:

But: “more permission as” does not sound right.

I feel this is something of a gray area. Maybe one of these forms reads better:

1. a license that gives as much **as** or more permission ~~as~~ **than** this one
2. a license that gives as much **permission as** or more permission ~~as~~ **than** this one
3. a license that gives as much or more permission ~~as~~ **than** this one
4. a lice

[2019-10-22 00:17] jeremy-w commented on #67
Including the reverse language about having to contribute the things I use to develop the software  seems like it might rule out turning on Github’s dependabot security analysis of repos? It helps me develop the Parity-licensed software, but it’s magic server-side code I can’t do anything with myself.

Or what about closed-source editors like Sublime Text or Textmate?

[2019-10-22 00:28] jeremy-w commented on #67
FWIW I read “operate” as something like “deploy, orchestrate, and monitor”.

If I had Parity-licensed daemontools, all the services and service files it’s sparking would be operated by it. If I had Parity-licensed Xen VMM, everything above it in the stack would need to have been contributed - no Windows or macOS VMs, and careful with those drivers, since the VMM is managing all those VMs.

If some

[2019-10-22 00:45] #31 closed

[2019-10-22 00:50] kemitchell commented on #67
@jeremy-w I read "operate" much as you do, with the possible addition of "run", so:

But the point of "operate" is exactly how expansive it is, and drafting off its extensive use in trade for that very breadth.

I also trace the daemontools and Xen "test cases" as you do. It is absolutely the case that Parity will go too far for some kinds of software. The running example thus far has been a text

[2019-10-22 00:52] #68 closed

[2019-10-22 08:05] makkus commented on #67
So, concrete examples would be user-interfaces, or wrapper tools. Say 'flake8' (a Python syntax checker/linter) would be Parity licensed. All code it would analyze would have to be open. But if I wrote a proprietary user interface for it? flake8 itself wouldn't 'operate' on any non-open code, but it would be 'operated by' one. As I mentioned in my other commend, something like 'operate in combinat

[2019-10-22 17:32] kemitchell commented on #67
@makkus running with your flake8 example:

If I build a user interface for flake8 or Ansible, is it fair to say that I've developed that interface with flake8 or Ansible?

[2019-10-22 18:34] makkus commented on #67
Yes, probably. I was more thinking of the situation where you develop the user interface, then sell it to me (using a non-free license), and I use the whole shebang on free software. So, I'd use your software, which would operate the Parity-licensed code, which in turn would operate on free software.

[2019-10-23 02:10] kemitchell commented on #67
In the case of a linter like flake8, end users develop and analyze software with the linter. Whether the whole linter is available under Parity, or just a library within it, Parity requires contributing linted software.

In the case of an orchestrator like Ansible, end users operate software with the orchestrator. Whether the whole orchestrator is available under Parity, or just a library within i

[2019-10-23 08:37] makkus commented on #67
Sorry, this is probably one of those situations where I can't see the forest for the trees, and I'm missing something really obvious.

So, yes, I think I understand your argument, but I'm not sure it applies. There is still one 'non-free' software in the pipeline (at the beginning of it): the wrapper/GUI code. So, just to recap:

- I write Ansible, and license it using Parity
- you write a proprie

[2019-10-24 05:14] kemitchell commented on #67
@makkus in the hypothetical you sketched, with no additional facts, using a mix of Parity-licensed Ansible and other-licensed GUI to deploy a closed application would trigger the Parity copyleft rule for Parity-licensed Ansible, in my view. The license terms for Parity-licensed Ansible don't change because they've been wrapped with a GUI. The developer of the GUI must follow Notices and give every

[2019-10-24 08:54] makkus commented on #67
Yes, but the 3rd party does not deploy a closed application, but a 100% free one. The GUI itself is not 'deployed', it just controls Ansible which does the deploying of free code.

[2019-10-24 20:41] makkus commented on #67
Cool, thanks!

[2019-10-24 20:46] kemitchell commented on #67
Thank _you_, @makkus. This was very illuminating for me!

[2019-10-24 20:46] #67 closed

[2019-10-24 20:58] makkus commented on #67
Right back at you, for me too :-)

[2019-10-26 10:39] tunnckoCore opened #71 "The "within thirty days""
Let's say you use something licensed under this unknowingly for 29-30 days, then you realized that you are violating this license. So you have more 30 days from the Excuse clause.

That makes 2 months I think the thought is to have 30 days trails, strictly. So, did you had this in mind or it's just a mistake? Or it's just me how I hearing and understanding it.

Btw side note, any plans when will u

[2019-11-04 03:08] kemitchell commented on #71
@tunnckoCore Parity _does_ intend to provide a grace period. Users shouldn't be able to ignore the license, or avoid learning about it, and then get away with violations. But users who just plain don't find out about the terms---say because someone before them failed to follow Notices---should have a grace period. Hence the language in Excuse that ties the new thirty-day deadline to when the user

[2019-11-04 03:08] #71 closed

[2019-11-04 16:53] tunnckoCore commented on #71
Thanks. :)

[2019-11-17 14:19] JanZerebecki commented on #60
Yes those changes resolve this issue, thank you.

It also makes it clear that it does not cover deployment scripts used for a work under Parity, thus does not close the SaaS loophole.

( New version I read: https://github.com/licensezero/parity-public-license/blob/335364428b2244dc497c18882bd5fc169b6e12f0/LICENSE.md old version the issue was opened for: https://github.com/licensezero/parity-public-

[2019-11-17 20:20] kemitchell commented on #60
I do not agree. See https://paritylicense.com/versions/7.0.0.html#copyleft

[2019-11-18 12:11] skorokithakis opened #72 "Clarify rights under the license"
Hello!
I'm not sure this is an issue with the license itself (feel free to close this if it's not), but as an OSS developer evaluating the license, it would be helpful to see a few examples somewhere, just because I don't entirely trust my ability to interpret legal documents.

For example, a short paragraph in the README or license body saying "this means that, under this license, you can/cannot

[2019-11-18 12:27] makkus commented on #72
I agree, I would like that too. I'm not sure how much (or whether at all) this is possible, without straying the too much into 'legal-advice' territory. Also, it depends very much on the type of software you are offering, what can be done with it, and which contexts it is used in.

For my project, I added a sort of FAQ that is specific to the code in question, and I think that's a good idea either

[2019-11-18 23:17] AlexMax opened #73 "Is this license usable in the App store?"
Just what it says on the tin.  Does Apple count as a license receiver?

[2019-11-20 21:38] kemitchell commented on #73
@AlexMax could you link me to the latest Apple terms on point?

[2019-11-21 00:26] AlexMax commented on #73
I am not an app developer myself, so I am unfamiliar with which terms of service would be applicable to copyleft software.  I did find a site on Apple's website with "guidelines" after a quick Google search, but I don't think those are the actual legal terms of service.

This is the FSF's article about pursuing compliance with GNU Go dated from 2010, with their reasoning as to why they think the G

[2019-12-08 10:33] Iolaum opened #74 "Re-Licensing to later versions of parity"
I was wondering whether a behavior similar to "GPLv2 or later" is allowed under parity license. I think the relevant test is from parity v7, Contribute, point2:

Let's say that some years down the line someone finds software licensed with parity v7. Does that allow them to modify it and publish changes in (for example) parity v10?

[2019-12-08 22:08] kemitchell commented on #74
That would depend on what Parity 10 says.  Which of course we don't know yet. ;-P

The problem of field-upgradable license terms is a very real one, and I'm glad you brought it up.  In general, projects with contributions from people who aren't all working for the same company can't change the license terms for their project as a whole without getting every contributor's agreement to do so.

FSF's

[2021-01-22 01:20] JanZerebecki opened #75 "the SASS-wraps-FOSS loophole"
From my reading
https://github.com/licensezero/parity-public-license/blob/335364428b2244dc497c18882bd5fc169b6e12f0/LICENSE.md#L21
does not ask you to contribute software that you use to operate this software. Only software that is operated by this software.
I think a more unambiguous wording of equivalent meaning is:

[Contribute](#contribute) additions to this software. When you use this software

[2021-01-22 08:59] orlandohill commented on #75
I also find this ambiguous.

My interpretation was that the *with* in "develop, operate, or analyze
with" was bidirectional, otherwise you could link with a Parity licensed
library without the need to contribute.

My assumption was that the requirement to contribute extended to wrapper
scripts and software running over RPC protocols (avoiding the shim trick
used to circumvent the GPL).

[2021-02-25 10:31] Iolaum opened #76 "License obligations potentially watered down through forks of forks."
I was reading the license text and focused on this particularly:

[code]

I was wondering if the following scenario can occur:

1. Entity A creates project1 and licenses the code with parity v7.0.0
2. Entity B forks project1 into project2 and licenses the code under Apache License 2.0
3. Entity C forks project2 into project3 and keeps the code proprietary.

I am making two key assumptions here:
-

[2021-02-25 13:19] orlandohill commented on #76
Step 2 is not permitted. Parity doesn't grant the right to change the
license of the software. See point 4 of 'Contribute'.

The text you quote is from point 2 of 'Contribute'. In the case of a fork,
the software to be contributed would be "changes or additions" to the
original software. See 'Copyleft'. If I understand correctly, changes would
need to remain under Parity, but additions (new code t

[2021-02-25 14:47] Iolaum commented on #76
I see, thanks for clarifying.

[2021-02-25 14:47] #76 closed

[2021-03-01 12:35] Iolaum opened #77 "OSI approval for parity license?"
Hello,

I have started using the parity license for a side project of mine, [podcust](https://github.com/Iolaum/podcust) and I have one question regarding OSI approved licenses.

At the moment the license doesn't appeared to be included in the [approved OSI licenses](https://opensource.org/licenses/alphabetical). Is there any intend to remedy that? I am assuming that the license complied with the

[2021-03-01 18:44] kemitchell commented on #77
The Parity Public License descends from a license originally called the "License Zero Reciprocal Public License". That was also a "free for open source" license. I submitted that older license to OSI way back when. It went terribly, wasting a bunch of my time, and producing a whole ton of drama that continues, in various ways, today. It also thoroughly corrected my view of what actually happens in

[2021-03-03 18:13] Iolaum commented on #77
Thank you for your reply and detailed explanation! I appreciate it.

[2021-03-03 18:13] #77 closed

[2022-01-20 19:06] skullbunnygalaxy opened #78 "Clarify wording on Copyright and Patent sections"
I kept misreading "contributor licenses" [noun verb] as "contributor license" [adjective noun] and had to re-read it multiple times before I read it correctly. Most of the license is worded with "you verb" whereas the wording here changes format to "the contributor verb you." I would like to suggest adjusting the wording here to make it easier to parse.

Example of adjusted wording: As a contribut

[2022-01-23 18:10] kemitchell commented on #78
@skullbunnygalaxy, thanks so much for this feedback!

I am seeing now, thanks to you, that the overwhelming majority of people will not have read or heard "license" as a verb very often. In software licensing, however, they will have seen it as a verb an awful lot.

Do you think it would help readers to rephrase like so?:

[2022-01-23 19:20] skullbunnygalaxy commented on #78
Yes, I think that would help.

[2022-01-25 00:02] kemitchell commented on #78
Closing per comment here: https://github.com/licensezero/parity-public-license/pull/79#issuecomment-1020671810

[2022-01-25 00:02] #78 closed

[2022-09-28 01:23] lngns opened #80 "Enforcing the 'Analyze' part."
From #67, I understand that if I were to license a compiler under Parity, then any software compiled by it would fall under Parity or a more permissive licence.
The FSF, however, states that this is [not enforceable](https://www.gnu.org/licenses/gpl-faq.html#IfInterpreterIsGPL).